<!-- add_customer.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Customer</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h1>Adding New Customer</h1>
    <form action="/add_customer" method="POST">
        <label for="Customer_FirstName">Customer First Name:</label>
        <input type="text" id="Customer_FirstName" name="Customer_FirstName" required><br>
        <label for="Customer_LastName">Customer Last Name:</label>
        <input type="text" id="Customer_LastName" name="Customer_LastName" required><br>
        <label for="Customer_Email">Customer Email:</label>
        <input type="email" id="Customer_Email" name="Customer_Email" required><br>
        <label for="Customer_PhoneNumber">Customer Phone Number:</label>
        <input type="tel" id="Customer_PhoneNumber" name="Customer_PhoneNumber" required><br>
        <label for="Customer_Address">Customer Address:</label>
        <input type="text" id="Customer_Address" name="Customer_Address" required><br>
        <button type="submit">Add Customer Details</button>
    </form>
</body>
</html>
